playlist: &playlist
    !!python/object/apply:jukebox.song.Playlist
    args:

storage: &storage
    !!python/object/apply:jukebox.storage.MemoryStorage
    args:

scanners:
    !!python/object/apply:jukebox.scanner.DirScanner
    args:
        - *storage
        - '/home/armooo/Music/'
    !!python/object/apply:jukebox.scanner.GoogleMusicScanner
    args:
        - *storage
        - 'username/email'
        - 'password'

encoder: !!python/name:jukebox.encoders.GSTEncoder

dj:
    !!python/object/apply:jukebox.dj.RandomDJ
    args:
        - *storage
        - *playlist
