@playlist-width: 300px;

.calc-width(@exp) {
    width: -webkit-calc(@exp);
    width: -moz-calc(@exp);
    width: calc(@exp);
}

.calc-height(@exp) {
    height: -webkit-calc(@exp);
    height: -moz-calc(@exp);
    height: calc(@exp);
}

.playlist {
    position: fixed;
    top: 0px;
    left: 0px;
    width: @playlist-width;
    .calc-height(100%);
    overflow: auto;
}

.songlist {
    float: right;
    .calc-width(~"100% -" @playlist-width);
    min-width: 500px;
}
